<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>
            {% block title %}
                {% if title is defined %}{{title}}{% else %}Title{% endif %} | Nom du site
            {% endblock %}
        </title>
            <!-- Font Awesome -->
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
            <!-- Bootstrap core CSS -->
            <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
            <!-- Material Design Bootstrap -->
            <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.2/css/mdb.min.css" rel="stylesheet">

        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <body id="{% block body_id %}{% endblock %}">

        {% block nav %}
            <!--Navbar -->
            <nav class="mb-1 navbar navbar-expand-lg navbar-light blue lighten-3">
                <a class="navbar-brand" href="#">Snowtricks</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
                        aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item {% if mainNavHome is defined %}active{% endif %}">
                            <a class="nav-link" href="{{path('app_homepage_index')}}">Accueil</a>
                        </li>
                        {% if is_granted('ROLE_USER') %}
                            <li class="nav-item {% if mainNavMember is defined %}active{% endif %}">
                                <a class="nav-link" href="{{path('user_index')}}">Utilisateurs</a>
                            </li>
                        <li class="nav-item {% if mainNavMember is defined %}active{% endif %}">
                            <a class="nav-link" href="{{ path('trick_new') }}">Nouveau Trick</a>
                        </li>

                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="nav-item {% if mainNavAdmin is defined %}active{% endif %}">
                                <a class="nav-link" href="{{path('app_admin_homepage_index')}}">Espace admin</a>
                            </li>
                        {% endif %}
                        {% if is_granted('ROLE_USER') == false %}
                            <li class="nav-item {% if mainNavLogin is defined %}active{% endif %}">
                                <a class="nav-link" href="{{path('login')}}">Connexion</a>
                            </li>
                            <li class="nav-item {% if mainNavRegistration is defined %}active{% endif %}">
                                <a class="nav-link" href="{{path('app_registration_register')}}">Inscription</a>
                            </li>
                        {% endif %}

                    </ul>
                    {% if is_granted('ROLE_USER') %}

                    <ul class="navbar-nav ml-auto nav-flex-icons">
                        <li class="nav-item avatar dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-55" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                {% if app.user.picture is not null %} <img  class="rounded-circle z-depth-0 avatar-header" alt="{{ app.user.picture.title }}" src="{{asset('/uploads/file/')}}{{ app.user.picture.name }}"
                                     > {% endif %}
                            </a>
                            <div class="dropdown-menu dropdown-menu-lg-right dropdown-secondary"
                                 aria-labelledby="navbarDropdownMenuLink-55">
                                <a class="dropdown-item" href="{{ path("user_edit") }}">Modifier le profil</a>
                                <a class="dropdown-item" href="{{path('logout')}}">Déconnexion</a>
                            </div>
                        </li>
                    </ul>
                    {% endif %}
                </div>
            </nav>
            <!--/.Navbar -->
        {% endblock %}

        {% block flash %}
            {% for flash_message in app.session.flashbag.get('success') %}
                <div class="container alert alert-success" role="alert">
                    {{ flash_message }}
                </div>
            {% endfor %}
            {% for flash_message in app.session.flashbag.get('info') %}
                <div class="container alert alert-info" role="alert">
                    {{ flash_message }}
                </div>
            {% endfor %}
            {% for flash_message in app.session.flashbag.get('warning') %}
                <div class="container alert alert-warning" role="alert">
                    {{ flash_message }}
                </div>
            {% endfor %}
            {% for flash_message in app.session.flashbag.get('danger') %}
                <div class="container alert alert-danger" role="alert">
                    {{ flash_message }}
                </div>
            {% endfor %}
        {% endblock %}


        {% block bodyContainer %}
        <div class="container bck1 padded">
            {% block body %}
            {% endblock %}
        </div>
        {%  endblock %}

        {% block footer %}
            <footer class="page-footer text-center font-small wow fadeIn blue lighten-3 fixed-bottom">
                <a href="#" target="_blank">
                    Admin
                </a><!--Copyright-->
                <div class="footer-copyright py-3">
                    © 2019 Copyright:
                    <a href="https://hugo.platret.fr"> hugo.platret.fr </a>
                </div>
                <!--/.Copyright-->

            </footer>
            <!-- Footer -->
        {% endblock %}

        <!-- JQuery -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <!-- Bootstrap tooltips -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
        <!-- Bootstrap core JavaScript -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <!-- MDB core JavaScript -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.2/js/mdb.min.js"></script>

        {{ encore_entry_script_tags('app') }}


        {% block javascripts %}

        {% endblock %}
    </body>
</html>