{{ form_start(form) }}


<div class="container">
	<div class="row">
		<div class="col">
			{{ form_label(form.name) }}
			{{ form_widget(form.name) }}
			{{ form_errors(form.name) }}
		</div>
		<div class="col">
			{{ form_label(form.category) }}
			{{ form_widget(form.category) }}
			{{ form_errors(form.category) }}
		</div>
	</div>
	<div class="row">
		<div class="col">
			{{ form_label(form.description) }}
			{{ form_widget(form.description) }}
			{{ form_errors(form.name) }}
		</div>
	</div>
	<div class="row">
		<div class="col">
			{{ form_label(form.images) }}
			{{ form_errors(form.images) }}

			<ul id="images-fields-list"
				data-prototype="{{ form_widget(form.images.vars.prototype)|e }}"
				data-widget-tags="{{ '<div></div>'|e }}"
				data-widget-counter="{{ form.children|length }}">
				{% for imagesField in form.images %}
					{{ form_errors(imagesField) }}
					{{ form_widget(imagesField) }}
				{% endfor %}
			</ul>
			<button type="button"
					class="btn add-another-collection-widget btn-primary btn-md"
					data-list-selector="#images-fields-list">Ajouter une image</button>
		</div>
		<div class="col">
			{{ form_label(form.videos) }}
			{{ form_errors(form.videos) }}

			<ul id="videos-fields-list"
				data-prototype="{{ form_widget(form.videos.vars.prototype)|e }}"
				data-widget-tags="{{ '<div></div>'|e }}"
				data-widget-counter="{{ form.children|length }}">
				{% for imagesField in form.videos %}
					{{ form_errors(imagesField) }}
					{{ form_widget(imagesField) }}
				{% endfor %}
			</ul>

			<button type="button"
					class="btn add-another-collection-widget-video btn-primary btn-md"
					data-list-selector="#videos-fields-list">Ajouter une vidéo</button>
		</div>
		</div>
	<div class="row">
		<div class="col">
			<button class="btn btn-primary btn-md">{{ button_label|default('Enregistrer') }}</button>

		</div></div>

	</div>
	{{ form_end(form) }}


	<style>
		#trick_category {
			margin-top: 0 !important;
			margin-bottom: 0 !important;
		}
		.form-group {
			display: none;
		}
	</style>

