{% extends 'base.html.twig' %}

{% block title %}Trick index{% endblock %}

{% block bodyContainer %}
    <div class="headerIndex view full-page-intro">

    </div>
    <div class="container mt-2 mb-5 pb-5">
    <h1>Toutes les figures</h1>

        <div class="row mb-4 wow fadeIn">

        {% for trick in tricks %}
            <!--Grid column-->
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                <!--Card-->
                    <div class="card">

                        <!--Card image-->
                        <div class="view overlay">
                            <div class="embed-responsive embed-responsive-16by9 rounded-top">
                                {% for image in trick.images %}
                                    <img class="embed-responsive-item" src="{{asset('/uploads/')}}{{ image.path|e }}" >
                                {% endfor %}
                            </div>
                        </div>

                        <!--Card content-->
                        <div class="card-body">
                            <!--Title-->
                            <h4 class="card-title">{{ trick.name|e }}</h4>
                            <p class="card-text">
                            </p>
                            <p class="card-text">{{ trick.dateCreate ? trick.dateCreate|date('Y-m-d H:i:s') : '' }}</p>
                        </div>
                        <a href="{{ path('trick_show', {'id': trick.id}) }}">Voir</a>
                        <a href="{{ path('trick_edit', {'id': trick.id}) }}">Editer</a>
                    </div>
                </a>
                <!--/.Card-->
            </div>

        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </div>

    <a href="{{ path('trick_new') }}">Create new</a>
    </div>
{% endblock %}
