{% extends 'base.html.twig' %}

{% block title %}Trick{% endblock %}

{% block body %}

{#    <table class="table">#}
{#        <tbody>#}
{#            <tr>#}
{#                <th>Id</th>#}
{#                <td>{{ trick.id }}</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <th>Name</th>#}
{#                <td>{{ trick.name }}</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <th>Date_create</th>#}
{#                <td>{{ trick.dateCreate ? trick.dateCreate|date('Y-m-d H:i:s') : '' }}</td>#}
{#            </tr>#}
{#            #}
{#            <tr>#}
{#                <th>Image</th>#}

{#                <td>{% for key, image in trick.images %} {{ image.name }} <img src="{{asset('uploads/'~image.path)}}"> {% endfor %}</td>#}
{#            </tr>#}

{#        </tbody>#}
{#    </table>#}

    <!--Main layout-->
    <main class="mt-5 pt-5" style="padding-left: 0 !important;" xmlns="http://www.w3.org/1999/html">
        <div class="container">

            <!--Section: Post-->
            <section class="mt-4">

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col">

                        <!--Featured Image-->
                        <div class="wow fadeIn text-center col-md-12 mb-3">
                        <img src="{{asset('uploads/picture/'~trick.cover)}}" class="img-fluid z-depth-1" alt="Responsive image">
                            <div class="position-absolute">
                                {% if app.user == trick.author %}
                                    <a href="{{ path('trick_edit_cover', {'slug': trick.slug}) }}"><div class="edit"></div></a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="card mb-4 wow fadeIn text-center position-relative">


                                <h1 class="h5 my-4">{{trick.name}}</h1>
                            <div class="container">
                                <div class="row">
                                <div class="col">
                            {% for image in trick.images %}

                                    <img src="{{asset('uploads/picture/'~ image.name)}}" class="img-thumbnail" style="height: 100px; width: 200px;" alt="{{ image.title }}">
                                     <a  class ="btn btn-sm btn-primary" href="{{ path('file_delete', {'id': image.id}) }}">Supprimer</a>

                            {% endfor %}
                                <br>
                                    <a class ="btn btn-sm btn-primary" href="{{ path('add_image', {'id': trick.id}) }}">Ajouter une image</a>
                                    </div>
                                    <div class="col">
                                    {% for video in trick.videos %}
                                        <video controls src="{{asset('uploads/video/'~ video.name)}}" class="img-thumbnail" style="height: 200px; width: 200px;" alt="{{ video.title }}"></video>
                                            <a  class ="btn btn-sm btn-danger" href="{{ path('file_delete', {'id': video.id}) }}">Supprimer la vidéo</a>
                                    {% endfor %}
                                        <a class ="btn btn-sm btn-primary" href="{{ path('add_video', {'id': trick.id}) }}">Ajouter une vidéo</a>

                                    </div>
                            </div>


                        </div>

                        <div class="card mb-4 wow fadeIn text-center">


                        </div>
                        <!--/.Featured Image-->
                        <!--Card-->
                        <div class="card mb-4 wow fadeIn">

                            <!--Card content-->
                            <div class="card-body text-center">
                                    <p>{{trick.description}}</p>
                            </div>

                            <!--Card content-->
                            <div class="card-body">

                                <p class="h6 my-4">{{trick.category.name}}</p>
                                <p class="h6 my-4">Par {{trick.author.email}}, le {{ trick.dateCreate | date('d/m/y') }}</p>
                                {% if app.user == trick.author %}
                                    <a class ="btn btn-sm btn-primary" href="{{ path('trick_edit', {'slug': trick.slug}) }}">modifier</a>
                                {% endif %}
                            </div>

                        </div>
                        <!--/.Card-->

                        <!--Comments-->
                            <div class="card card-comments mb-3 wow fadeIn">

                                <div class="card-header font-weight-bold comment-ajax">{{ compteur }} {% if compteur > 1 %} commentaires {% else %} commentaire {% endif %}</div>
                            </div>

                        <!--/.Comments-->
                            {% if app.user %}
                                {{ form_start(form) }}
                                {{ form_widget(form) }}
                                <button type="submit" class="btn btn-info">Laisser un commentaire</button>
                                {{ form_end(form) }}
                            {% else %}
                                <h3>Veuillez vous connecter pour laisser un commentaire</h3>
                            {% endif %}
                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->

            </section>
            <!--Section: Post-->

        </div>
    </main>

    {{ include('trick/_delete_form.html.twig') }}
{% endblock %}

{% block javascripts %}
    <script>
    let urlAjaxCommentPost = "{{ path('trick_comment_ajax', {'slug': trick.slug}) }}"
    let trickid = '{{trick.id}}';
    let compteur = {{compteur}};

    </script>
    {{ encore_entry_script_tags('post') }}

{% endblock %}

